<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>TaskManager</title>

        <style>
            nav ul li, footer ul li {
                list-style-type: none;
                float: left;
                padding: 1rem;
            }
        </style>
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Registrer</a></li>
                <!-- should be dynamic - log in/log out and no "register" if logged in-->
                <li><a href="">Log in</a></li> 
            </ul>
        </nav>
    </header>

    <!-- PAGE CONTENT -->
    <section>
        <!-- render body from each file -->
    </section>

    <footer>
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Registrer</a></li>
        </ul>
    </footer>
    </body>
</html>